<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.RFCalc">
        <activity
            android:name=".PathLossActivity"
            android:label="@string/free_space_path_loss_calculator"
            android:parentActivityName=".MainActivity"
            android:exported="false" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.holybee.rfcalculator.MainActivity" />
        </activity>

        <activity
            android:name=".LosActivity"
            android:exported="false"
            android:label="@string/line_of_sight_calculator"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.holybee.rfcalculator.MainActivity" />
        </activity>
        <activity
            android:name=".WavelengthActivity"
            android:exported="false"
            android:label="@string/wavelength_calculator"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.holybee.rfcalculator.MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DBcalcActivity"
            android:label="@string/title_activity_rfcalc"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.holybee.rfcalculator.MainActivity" />
        </activity>
        <activity
            android:name=".DipoleActivity"
            android:label="@string/title_activity_dipole"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.holybee.rfcalculator.MainActivity" />
        </activity>
        <activity
            android:name=".AtscActivity"
            android:label="@string/title_activity_atsc"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.holybee.rfcalculator.MainActivity" />
        </activity>
        <activity
            android:name=".VSWRActivity"
            android:label="@string/title_activity_vswr"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.holybee.rfcalculator.MainActivity" />
        </activity>
    </application>

</manifest>